
<main class="app-shell">
  <section class="intro">
    <h1>{{ nomAplicacio }}:</h1>
    <p>Aplicació creada per Nom Cognom per al mòdul DA2_OA01.</p>
  </section>

  <section class="project-card">
    <div class="container-h2">
      <h2>Dades del projecte</h2>
    </div>
    <div class="container-dades">
      <p>Estat: Projecte base llest</p>
      <p>Data: 1er semestre 2026</p>
      <p>Framework: Angular 22</p>
    </div>
  </section>

  <aside class="note">
    <p>Nota: aquest projecte s'ampliarà durant el mòdul.</p>
  </aside>
</main>

<router-outlet />